
.services-card-wrap{
    height: 70%;
    width: 20vw;
    object-fit: contain;
    border-radius: 1rem;
    position: relative;
    overflow: hidden;
    
    
}

.services-card-wrap img{
   object-fit: cover; 
   margin: 0;
   width: 20vw;
    
   
    
}

.services-card-description{
    height: 5rem;
    width: 20vw;
    background-color: aliceblue;
    position: absolute;
    border-radius: 0 0 1rem 1rem;
    bottom: 0;
    color: #292733;
    font-weight: bold;
    font-size: 1.3rem;
    display: flex;
    align-items: center;
    
    
}
.services-card-description span{
    margin-left: 1rem;
}
