.base-page-wrap{
    height: 100vh;
    width: 100%;
    background-color: #f2b2b3;
    font-family: "Oxygen", sans-serif;
    display: flex;
    justify-content: center;
}
.base-page-wrap__content{
    width: 80%;
    
}

@media only screen and (max-width: 600px){
    .base-page-wrap{
        font-size: 0.8rem;
    }
}