.base-page-wrap{
    height: 60vh;
    width: 100%;
    /* background-color: #c9b4b4; */
    background: rgb(138,157,254);
background: linear-gradient(0deg, rgba(138,157,254,1) 0%, rgba(235,134,155,1) 100%);
    font-family: "Oxygen", sans-serif;
    display: flex;
    justify-content: center;
    
    
}
.base-page-wrap__content{
    width: 85%;
    
    
}

@media only screen and (max-width: 600px){
    .base-page-wrap{
        font-size: 0.8rem;
    }
}