.presentations-images{
    height: 80%;
    display: flex;
    justify-content: flex-end;
}
img{
    height: 100%;
    margin-left: 2rem;
    margin-top: 2rem;
    
}
.destak-greets{
    font-size: 2.5rem;
}
.content-text{
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
    color: aliceblue;
    font-size: 1.5rem;
    font-weight: bold;
    width: 50%;
    font-family: "Oxygen", serif;
}

@media only screen and (max-width: 600px){
    .presentations-images{
        flex-direction: column;
        height: 30vh;
        justify-content: flex-start;
    }
    img{
        height: 100%;
        margin-left: 2rem;
        margin-top: 2rem;
        
    }
    .content-text{
        font-size: 1rem;
        width: 100%;
    }
}