.footer-wrap{
    height: 20vh;
    width: 100%;
    background-color: aliceblue;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Oxygen", sans-serif;
    
}
.footer-wrap a{
    color: black;
    text-decoration: none;
}
