.footer-wrap{
    height: 20vh;
    width: 100%;
    background-color: aliceblue;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Oxygen", sans-serif;
    
}
.footer-wrap a{
    color: black;
    text-decoration: none;
}
@media only screen and (max-width: 600px){
    .footer-wrap p{
        display: flex;
        flex-direction: column;

    }
}