*{
margin: 0;

}

.background-menu-bar{
    height:8.5rem;
    width: 100%;
    font-family: "Oxygen", sans-serif;
    background-color: #f2b2b3;
    display: flex;
    flex-direction: column;
    
     
}
.all-menu-wrap{
    position: fixed;
    width: 100%;
    z-index: 1;
}
.background-menu-bar__menu-bar{
    
    background-color: #ebe1fc;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex: 1;
    height: 6rem;
    width: 100%;
    align-items: center;  
    border-bottom: 1px solid #665187;
}
.background-menu-bar__icons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 1.8rem;
}
.background-menu-bar__menu-bar__icons__logo{
    height: 7rem;
    padding-left: 6rem;
}

.background-menu-bar__menu-bar__menus{
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: space-evenly;
    text-decoration: none;
    list-style-type: none;
    padding: 1rem;
    margin: 0 2rem 0 2rem;
    
    
}
.background-menu-bar-bottom{
    background-color: #665187;
    height: 2.5rem;
    width: 100%;
    border-bottom: 1px solid #665187;  
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Oxygen", sans-serif;
    color: #ebe1fc;
    font-weight: bold;
    font-size: 0.9rem;
}

.background-menu-bar-bottom__menus{
    padding: 0;
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 3rem;
    
}
.background-menu-bar-bottom__menus label{
    cursor: pointer;
}

.background-menu-bar__menu-bar__menus label{
    cursor: pointer;
    color: black;
    }

.background-menu-bar__resposivity{
    display: none;
}

@media only screen and (max-width: 600px){
    .background-menu-bar{
        height:6rem;
        width: 100%;
        font-family: "Oxygen", sans-serif;
        background-color: #f2b2b3;
        
    }
    .background-menu-bar__menu-bar{
        flex-direction: column;
        height: 6rem;
        overflow: hidden;
        justify-content: flex-start;
        background-color: aliceblue;
        transition: height 0.5s ease-in-out;
    }
    .background-menu-bar__menu-bar-active{
        height: 13rem;
    }
    .background-menu-bar__icons{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        align-items: center;
        margin: 0;
        
    
    }
    .background-menu-bar__menu-bar__icons__logo{
        height: 7rem;
        padding-left: 0;
        margin: 0;
    }
    .background-menu-bar__resposivity{
        display: inline-block;
        height: 1rem;
        margin-right: 1rem;
        
    }
    .background-menu-bar__menu-bar__menus{
        flex-direction: column;
        gap: 5px;
        padding: 0;
        
    }
}