.card-wrap{
    height: calc(100% - 4px);
    width: 33vw;
    border-top: 2px solid #665187;
    border-right: 1px solid #665187;
    border-left: 1px solid #665187;
    border-bottom:2px solid #665187;
    background-color: #ffdbeb;
    font-family: "Oxygen", cursive;
    padding: 0 1rem 0 1rem;
    color: #ea5296;
    position: relative;
}

.card-wrap h3{
    color: #ea5296;
    padding: 0 1rem 0 1rem;
    text-align: center;
    font-size: 2.1rem; 
    margin: 2.5rem 0 1.5rem 0;
    font-weight: lighter;
    }

.card-wrap h4{
    margin-top: 2rem;
    padding: 0 1rem 0 1rem;
    margin-bottom: 1rem;
    color:#6f6f72;
    }



.card-wrap span{
    cursor: pointer;
    padding: 0 1rem 0 1rem;

}
.cursos-image{
    display: flex;
    justify-content: center;
    bottom: 0;
    width: 100%;
    position: absolute;
}
.cursos-image img{
    margin: 0;
}
@media only screen and (max-width: 600px){
    .card-wrap{
        overflow: hidden;
        width: calc(100% - 2px);
        padding: 0;
        position: relative;
    }
    .card-wrap h3{
        font-size: 1.5rem; 
    }
    .cursos-image{
        width: 100%;
        
        transform: scaleX(0.9);
        position: absolute;
        bottom: 0;


        
    }
}